.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

// PROVISIONAL
section {
  background-color: pink;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(171, 233, 233);
  border: 1px solid grey;
}

ul {
  border: 1px solid grey;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  list-style-type: none;
}

img {
  width: 20%;
}

li {
  border: 2px solid grey;
  padding: 10px;
  position: relative;
}

.fave {
  color: palevioletred;
  border: 3px solid palevioletred;
}

.delete {
  display: block;
  background-color: grey;
  width: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 100px;
  position: absolute;
  right: 0;
  top: 0;
}