.main {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 20px;
  padding-left: 80px;
  padding-right: 80px;

  &__search {
    background-color: $grey;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    color: $light-purple;
    @media (width < 1100px) {
      width: 90%;
    }

    @media (width < 769px) {
      width: 100%;
    }
  }

  input {
    height: 40px;
    border: 1px solid $dark-purple;
    border-radius: 5px;
    padding-left: 10px;

    @media (width < 769px) {
      height: 40px;
    }
  }

  h2 {
    font-weight: 350;

    @media (width < 769px) {
      font-size: 18px;
    }
  }

}

.btn {
  height: 40px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: $dark-purple;
  border: none;
  color: white;
  cursor: pointer;
  font-family: $font-main;

  @media (width < 769px) {
    height: 40px;
  }

  &:hover {
    background-color: $green;
    color: $dark-grey;
  }
  
}

.glass {
  color: $green;
  font-size: 16px;
  transform: rotate(-20deg);
}

.drinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: $light-purple;

  &__favs {
    width: 40%;
    border-radius: 5px;
    padding: 20px;
    padding-top: 10px;
    background-color: $grey;
  }

  &__results {
    width: 60%;
    border-radius: 5px;
    padding: 20px;
    padding-top: 10px;
    background-color: $grey;

  }

  h3 {
    font-weight: 200;

    &::after {
      width: 100%;
      height: 3px;
      background-color: $dark-purple;
      margin-top: 10px;
      content: "";
      display: block;
    }
  }
}

.ul-results {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  @media (width < 769px) {
    grid-template-columns: 1fr 1fr;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    font-weight: 100;
    
    .li-title {
      display: inline-block;
      color: $dark-purple;
      background-color: $purple;
      font-weight: bold;
      border-radius: 5px;
      padding: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 60%;
      text-align: center;
      border: 2px solid $purple;

      @media (width < 1100px) {
        width: 90%;
      }
      @media (width < 910px) {
        font-size: 12px;
      }

      .fave {
        border: 2px solid $green;
      }

    }

    img {
      width: 60%;
      border: 2px solid $purple;
      border-radius: 5px;

      @media (width < 1100px) {
        width: 90%;
      }
  }

  .fave {
    border: 2px solid $green;
  }
}



}

.ul-favs {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  @media (width < 769px) {
    grid-template-columns: 1fr;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-weight: 100;
    position: relative;
  }

  .li-title {
    display: inline-block;
    color: $dark-purple;
    background-color: $purple;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    text-align: center;
    @media (width < 1100px) {
      width: 90%;
    }
    @media (width < 910px) {
      font-size: 12px;
    }
    
  }


    img {
      width: 60%;
      border: 2px solid $purple;
      border-radius: 5px;
      @media (width < 1100px) {
        width: 90%;
      }
      @media (width < 910px) {
        width: 70%;
      }
    }

    .delete {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $dark-purple;
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding-bottom: 2px;
      color: white;
      font-weight: 400;
      text-align: center;
      margin: auto;
      border-radius: 100px;
      position: absolute;
      right: 40px;
      bottom: 0px;

      &:hover {
        background-color: $green;
        color: $dark-grey;
      }

      @media (width < 1100px) {
        right: 5px;
      }
      @media (width < 910px) {
        right: 10px;
      }
    }

}

.delete-favs {
  padding-top: 20px;
  text-align: center;
}






