@import 'core/variables';
@import 'core/reset';
@import "layout/header";
@import 'layout/page';
@import "layout/footer";

:root {
    font-family: $font-main;
    background-color: $dark-grey;
}

ul {
    list-style-type: none;
  }